.finish-ride-btn {
    width: 100%;                // Full width
    margin-top: 1.25rem;        // 20px top margin
    font-size: 1.125rem;        // 18px text size
    background-color: #16a34a;  // Green-600 from Tailwind
    display: flex;             // Flexbox layout
    justify-content: center;   // Horizontal center
    color: #ffffff;            // White text
    font-weight: 600;          // Semibold
    padding: 0.75rem;          // 12px padding all around
    border-radius: 0.5rem;     // 8px rounded corners
    border: none;             // No border (for buttons)
    cursor: pointer;          // Clickable feel
  
    &:hover {
      box-shadow: 0 6px 13px rgba(43, 185, 43, 0.607); 
    }
  }